*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    background-color: antiquewhite;
}
header{
    position: sticky;
    width: 100%;
    top:0px;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    /* border: 1px solid black; */

}

.navicons{
    display: flex;
    align-items: center;
}

.navitems{
    display: flex;
    width: 55%;
    gap: 2rem;
    /* border: 1px solid red; */
}
.navitems a {
    font-weight: bold;
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.navrigthsection{
    display: flex;
    align-items: center;
    width: 28%;
    justify-content: space-between;
}

.contatus{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 7px;
}

.navicons{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.loginbutton{
    background-color: green;
    padding: 12px 25px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
